registry=https://registry.npmmirror.com
unsafe-perm=true
@webdpt:registry=https://repo.digiwincloud.com.cn/maven/repository/npm-webdpt/
@ng-dynamic-forms:registry=https://repo.digiwincloud.com.cn/maven/repository/npm-athena/
@athena:registry=https://repo.digiwincloud.com.cn/maven/repository/npm-athena/
node-options=--max-old-space-size=15000
